.headerContainer{
    background-color: rgb(173, 173, 255) ;
    padding: 3vh 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.companyName{
    margin-left: 30px;
    font-size: 40px;
    margin-right: 30px;
}

.auth{
    display: flex;
    margin-right: 30px;
}
.authBtn{
    margin-left: 20px;
    cursor: pointer;
} 

.nameContainer{
    display: flex;
    justify-content:center;
    align-items: center;
}

.headerSearchInput{
    width: 350px;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
}

.headerSearchInput:focus{
    outline: none;
}

.searchContainer{
    border-radius: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: white;
}