@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.homeContainer{
    /* background-image: url('../../public/food1.jpg'); */
    height: 130vh;
    display: flex;
    background-color: rgb(0, 4, 66);
}

.homeContainerp2{
    background-color: rgb(36, 36, 36);
    height: 100vh;
    display: flex;
    background-repeat: round;
}

.homeTextContainer{
    padding-left: 10vw;
    padding-top: 20vh;
}

.homeInfoContainer{
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    width: 600px;
    height: 400px;
    
}

.downloadHome{
    margin: 30px 0;
}


.planHome{
    font-size: 50px;
    color: black;
    font-family: 'Secular One', sans-serif;
    border-bottom: 2px solid black;
}

.downloadAndroid{
    padding: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(84, 219, 84);
    cursor: pointer;
    margin-top: 15px;
}

.continueWeb{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(63, 199, 240);
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
    margin-top: 15px;
}

@media (max-width: 500px){
    .homeTextContainer{
        padding: none
    }
    .homeContainer{
    }
    .planHome{
        font-size: 40px;
        font-family: 'Secular One', sans-serif;
    }
    
}