.mealsContainerBox{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
 }

 .homeMemberReminderContainer{
    padding-top:  20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 147, 147);
 }

 .randomMeals{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
 }

 .homeCContainer{
     background-image: url('../../public/food1.jpg');
     min-height: 120vh;
 }

 .alphabetsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
 }

 .alphabets{
     display: block;
 }

 .alphabet{
     padding: 5px;
     font-size: 16px;
     margin: 0 3px;
     cursor: pointer;
 }