@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.homeContainer{
    background-image: url('../../public/food1.jpg');
    height: 90vh;
    display: flex;
    
}

.homeTextContainer{
    padding: 200px;
}


.planHome{
    font-size: 60px;

    font-family: 'Secular One', sans-serif;
}

@media (max-width: 500px){
    .homeTextContainer{
        padding: none
    }
    .homeContainer{
    }
    .planHome{
        font-size: 40px;
        font-family: 'Secular One', sans-serif;
    }
    
}