.ingredientsContainer{
    display: flex;
    flex-direction:  column;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    margin: 0 30px;
}

.ingredientsContainer:hover{
    color: blue;
}

.ingredientMainContainer{
    text-decoration: none;
    color: black;
    margin: 30px;
    border-bottom: 2px solid black;
    padding: 5px;
    cursor: pointer;
}

.ingredientMainContainer:hover{
    color: blue;
}

