.mealScreenContainer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

.ingredients{
    padding: 5px 0;
    list-style-type: circle;
    cursor: pointer;
}

.ingredients:hover{
    color: blue;
}

.whiteContainer{
    padding: 20px 150px;
    background-color: white;
    margin: 40px 0;
}

.mealName{
    text-align: center;
    margin: 30px 20px;
    font-size: 60px;
}

.mealScreenImage{
    max-width: 1200px;
    max-height: 900px;
    object-fit: cover;
    margin: 30px;
}

.instruction{
    width: 700px;
    text-indent: 10px;
    font-weight: 200;
    text-justify: distribute-all-lines;
    margin-right: 30px;
    background-color: white;
}

.instructionContainer{
    display: flex;
}

.addToYourPlan{
    padding: 10px;
    cursor: pointer;
    margin: 70px;
}

.ingredientContainer{
    background-color: white;
    padding: 80px;
}

p{
    font-weight: 200;
}

.nationalFlag{
    width: 100px;
    object-fit:contain;
    margin: 10px;
}

.infoTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.qnasSectionContainer{
    background-color: white;
    width: 58%;
    min-height: 200px;
    margin: 10px 0;
    padding: 50px;
}

.qnaTextArea{
    resize: none;
    width: 70%;
    height: 90px;
    margin-top: 30px;
    font-size: 20px;
    padding: 10px;
}

.inputAreaContainer{
    display: flex;
    align-items:flex-end;
}

.submitBtn{
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}