.membershipContainer{
    height: 100vh;
    background-image: url('../../public/food1.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.paymentContainer{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.expireContainer{
    display: flex;
    margin: 20px 0px;
}

.cardInputContainer{
    display: flex;
    flex-direction: column;

}

.membershipBlock{
    display: flex;
    justify-content:center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 30px;
    background-color: rgba(255, 255, 255);
    min-width: 70%;
    min-height: 300px;
    flex-direction: column;
    align-items: center;
}

.membershipTitleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
}