.totalAmountContainer{
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 30px 0;
    background-color: rgb(171, 171, 171);
    align-items: center;
    padding-left: 200px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.totalPriceContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 450px;
}

.totalPrice{
    margin-left: 30px;
    font-size: 24px;
    text-decoration: underline;
}

.checkoutBtn{
    padding: 7px 20px;
    margin-left: 20px;
    cursor: pointer;
    background-color: rgb(255, 223, 164);
}